.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 0.5vh;
  color: white;
}
.App-header h1{
  text-align: left;
  padding-left: 5vw;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

